body {
  background-color: #f8f8f8;
}

body .down-content .banner {
  width: 100%;
  height: 420px;
  background: url(http://www.daoway.cn/pcimages/xiazaiye-_02.jpg) no-repeat center;
  margin: 0 auto;
  overflow: hidden;
}
body .down-content .banner dl {
  overflow: hidden;
  text-align: center;
  width: 308px;
  height: 96px;
  margin: 204px 0 0 607px;
}
body .down-content .banner dl dt {
  float: left;
}
body .down-content .banner dl dt img {
  width: 96px;
}
body .down-content .banner dl dd {
  float: right;
  width: 188px;
  height: 36px;
  margin-bottom: 15px;
  background: #a0c842;
  line-height: 36px;
  margin-top: 5px;
  border-radius: 6px;
  color: #fff;
  font-size: 17px;
}
body .down-content .banner dl dd a {
  width: 100%;
  display: block;
  color: #fff;
  text-align: left;
}
body .down-content .banner dl dd a img {
  vertical-align: sub;
  margin: 0 12px 0 20px;
  width: 22px;
}
body .down-content .banner dl dd.ios {
  background: #e62e36;
}
body .down-content .show-serve {
  background-color: #fff;
  text-align: center;
  padding: 60px 0 30px;
}
body .down-content .show-serve img {
  width: 242px;
  height: 32px;
}
body .down-content .show-serve p {
  text-align: center;
  font-size: 22px;
  margin-top: 10px;
  color: #3d3838;
}
body .down-content .show-serve .serve-list {
  font-size: 0;
}
body .down-content .show-serve .serve-list li {
  width: 32.5%;
  height: 216px;
  padding-top: 20px;
  margin: 10px 0.5% 0 0;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #eaeaea;
}
body .down-content .show-serve .serve-list li img {
  width: 168px;
  height: 166px;
  float: left;
}
body .down-content .show-serve .serve-list li span {
  margin-top: 55px;
  float: left;
}
body .down-content .show-serve .serve-list li span i {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  width: 180px;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}
body .down-content .show-serve .serve-list li span b {
  font-weight: 700;
  font-size: 18px;
  color: #1d1515;
}
body .down-content .serve-ad.white {
  background-color: #fff;
}
body .down-content .serve-ad .ad-wrap .text {
  float: left;
  margin: 200px 100px;
  font-size: 22px;
  text-align: center;
  color: #3d3838;
}
body .down-content .serve-ad .ad-wrap .text img {
  margin-bottom: 10px;
  width: 183px;
  height: 30px;
}
body .down-content .serve-ad .ad-wrap > img {
  float: left;
  margin: 50px 0 0 160px;
}
body .down-content .serve-ad .ad-wrap.left .text {
  float: right;
  margin: 200px 0 0;
  position: relative;
  right: 200px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.clear:after,
.clear:before {
  content: '';
  display: table;
  clear: both;
}
.clear {
  zoom: 1;
}